<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Examens</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .title {
            color: #fff1cc;
            font-size: 60px;
            text-align: center;
            padding-top: 20px;
            margin-top: 4px;
        }

        .dateCell {
            font-size: 15px;
            background-color: #144b68;
            color: #fff1cc;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <h1 colspan="100%" class="title dateCell">EXAMS TIMETABLE</h1>
        <tr>
            <th class="dateCell">Date</th>
            <th class="dateCell">class  :<%= classInfo.name %></th>
        </tr>
        <% Object.keys(groupedExams).forEach((dateTime) => { %>
            <tr>
                <td class="dateCell"><%= dateTime %></td>
                <td>
                    <% if (Array.isArray(groupedExams[dateTime])) { %>
                        <%= groupedExams[dateTime].join(',') %>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </table>
</body>
</html>














